
<header>
    <span class="logo">RBAC Demo</span>
    <span class="right">
        欢迎 @Model.user_name [@Html.DropDownList("role",ViewBag.rlist as List<SelectListItem>)]
        <a href="#">注销</a>
    </span>
</header>